---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/BlogLayout.astro';
import List from '~/components/blog/List.astro';
import Pagination from '~/components/atoms/Pagination.astro';
import Container from '~/components/core/Container.astro';

import { fetchPosts, fetchPostsWithVideos } from '~/utils/posts';
import { getCanonical, getPermalink, VIDEO_BASE } from '~/utils/permalinks';


const posts = await fetchPostsWithVideos();
export async function getStaticPaths({ paginate}) {
	const posts = await fetchPostsWithVideos();

	return paginate(posts, {
		pageSize: BLOG.postsPerPage,
	});
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
	title: `Railroader Sleep ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink(page.url.current)),
	ogType: "website",
	noindex: SITE.noindex && currentPage > 1
};

---

<Layout>
	<Fragment slot="title">
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">All our videos in one place
    </span>
	</Fragment>
  <Container>
    <List posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </Container>
</Layout>
