---
import { SITE } from "~/config.mjs"
import Logo from '~/components/atoms/Logo.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';
import Search from "astro-pagefind/components/Search";
import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';

import { fetchPosts } from '~/utils/posts';
const posts = await fetchPosts();

const categories = new Set <string>();
posts.map((post) => {
  typeof post.category === 'string' && categories.add(post.category.toLowerCase());
});

const interactives = new Set<Interactive>();
interactives.add({ name: 'Audio Slide Show', link: getPermalink('audio-slide-show') });
interactives.add({ name: 'Inside Apnea', link: getPermalink('inside-apnea') });
interactives.add({ name: 'Circadian Rythms', link: getPermalink('circadian') });
interactives.add({ name: 'Reaction Time', link: getPermalink('think-fast') });
interactives.add({ name: 'Sleep Lab', link: getPermalink('sleep-lab') });
interactives.add({ name: 'Caffeine', link: getPermalink('caffeine-interactive') });

interface Interactive {
  name: string;
  link: string;
}

---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-gray-200/75 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0 h-14"
>
	<div class="px-2 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
        <span class="px-2 text-xl font-extrabold text-gray-700 whitespace-nowrap dark:text-white">{SITE.title}
        </span>
			</a>
			<div class="flex items-center md:hidden">
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul
				class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-lg md:text-base"
			>
        <li class="dropdown">
          <button
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            >Categories</button
          >
          <ul
            class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl"
          >
          {Array.from(categories).map((category) => (
            <li class="">
              <a
              class="rounded-t md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-4 block whitespace-no-wrap first-letter:uppercase"
                href={getPermalink(category, 'category')}
                >{category}
              </a>
            </li>
          ))}
          </ul>
        </li>
      <li class="dropdown">
        <button
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          >Interactives</button
        >
        <ul
          class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl"
        >
        {Array.from(interactives).map((interactive) => (
          <li class="">
            <a
            class="rounded-t md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-4 block whitespace-no-wrap first-letter:uppercase"
              href={interactive.link}
              >{interactive.name}
            </a>
          </li>
        ))
        }
        </ul>
      </li>
      <li>
        <a
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          href={getPermalink('events')}>Events</a
        >
      </li>
      <li>
        <Search />
      </li>
    </ul>

		</nav>
	</div>
</header>

<style is:global>
  .pagefind-ui {
    --pagefind-ui-scale: 0.85;
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;

    width: 50%;
  }

  .pagefind-ui.yellow {
    --pagefind-ui-background: lightyellow;
  }

  .pagefind-ui.red {
    --pagefind-ui-background: peachpuff;
    width: 100%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 9999;
    padding: 0 2em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
}
</style>