---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';

import { fetchPosts } from '~/utils/posts';
const posts = await fetchPosts();

const categories = new Set <string>();
posts.map((post) => {
  typeof post.category === 'string' && categories.add(post.category.toLowerCase());
});

const interactives = new Set();
interactives.add({ name: 'Audio Slide Show', link: getPermalink('audio-slide-show') });
interactives.add({ name: 'Inside Apnea', link: getPermalink('inside-apnea') });
interactives.add({ name: 'Circadian Rythms', link: getPermalink('circadian') });
interactives.add({ name: 'Reaction Time', link: getPermalink('think-fast') });
interactives.add({ name: 'Sleep Lab', link: getPermalink('sleep-lab') });

---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul
				class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-lg md:text-base"
			>
      <!--
      <li>
        <a
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          href={getPermalink('explore-sleep')}
          >Explore Sleep
        </a>
      </li>
       <li>
        <a
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          href={getPermalink('improve-sleep')}
          >Improve Sleep
        </a>
      </li>
      <li>
        <a
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          href={getPermalink('balance')}
          >Balance
        </a>
      </li>
      -->
        <li class="dropdown">
          <button
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            >Categories</button
          >
          <ul
            class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl"
          >
          {Array.from(categories).map((category) => (
            <li class="">
              <a
              class="rounded-t md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-4 block whitespace-no-wrap first-letter:uppercase"
                href={getPermalink(category, 'category')}
                >{category}
              </a>
            </li>
          ))}
          </ul>
        </li>
      <li class="dropdown">
        <button
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          >Interactives</button
        >
        <ul
          class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl"
        >
        {Array.from(interactives).map((interactive) => (
          <li class="">
            <a
            class="rounded-t md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-4 block whitespace-no-wrap first-letter:uppercase"
              href={interactive.link}
              >{interactive.name}
            </a>
          </li>
        ))
        }
        </ul>
      </li>
      <li>
        <a
          class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
          href={getBlogPermalink()}>Articles</a
        >
      </li>
    </ul>

		</nav>
	</div>
</header>
