---
import Layout from "~/layouts/BlogLayout.astro";
import YouTube from "~/components/core/YouTube.astro";
import ActionCard from "~/components/atoms/ActionCard.astro";
import Quote from "~/components/atoms/Quote.astro";
const post = {
	video_url: "https://player.vimeo.com/video/794546557?h=bc1ec8301d",
	video_title: "Apnea on the Rails: Mark's Story",
	video_duration: "1:23",
	video_description: "Apnea on the Rails: Mark's Story",
};
import { Content as WhatIsOsaContent } from "~/../data/tours/what-is-osa.md";
import * as whatIsOsa from "~/../data/tours/what-is-osa.md";
import { Content as GettingADiagnosisContent } from "~/../data/tours/getting-a-diagnosis.md";
import * as gettingADiagnosis from "~/../data/tours/getting-a-diagnosis.md";
import { Content as LivingWithOsaContent } from "~/../data/tours/living-with-osa.md";
import * as livingWithOsa from "~/../data/tours/living-with-osa.md";
import { Content as AvailableTreatmentsContent } from "~/../data/tours/available-treatments.md";
import * as availableTreatments from "~/../data/tours/available-treatments.md";
import { Content as Introduction } from "~/../data/tours/apnea-introduction.md";

const actions = [
	{
		title: "What is OSA?",
		description:
			"Learn about obstructive sleep apnea (OSA), a common sleep disorder that can affect your health and safety.",
		link: "what-is-osa",
	},
	{
		title: "Getting a Diagnosis",
		description:
			"Learn about the diagnosis process for obstructive sleep apnea (OSA), a common sleep disorder that can affect your health and safety.",
		link: "getting-a-diagnosis",
	},
	{
		title: "Living with OSA",
		description:
			"Learn about living with obstructive sleep apnea (OSA), a common sleep disorder that can affect your health and safety.",
		link: "living-with-osa",
	},
	{
		title: "Available Treatments",
		description:
			"Learn about the available treatments for obstructive sleep apnea (OSA), a common sleep disorder that can affect your health and safety.",
		link: "available-treatments",
	},
];
const {} = Astro.props;
---

<Layout>
	<Fragment slot="title">Sleep Apnea</Fragment>

	<div class="toast my-8 mx-8 hidden animate-in slide-in-from-bottom duration-500" id="apnea-toast">
		<div class="alert alert-info">
			<div>
				Check out our <a href="inside-apnea/" class="link">Sleep Apnea Interactive</a>
			</div>
		</div>
	</div>

	<article>
		<div
			class="container mx-auto px-6 md:max-w-4xl prose lg:prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg"
		>
			<Introduction />
		</div>
		<div class="container mx-auto mt-8 md:mt-12 md:max-4xl lg:max-5xl">
			<div
				class="grid gap-6 md:gap-12 grid-cols-1 md:grid-cols-2 place-items-stretch"
			>
				{
					actions.map((action) => (
						<ActionCard title={action.title} link={action.link} />
					))
				}
			</div>
		</div>
		<div class="container mx-auto mt-8 md:mt-12 md:max-4xl lg:max-w-5xl">
			<Quote
				quote="After the first night that I wore the CPAP air machine and slept all night, the next day, when I woke up, I said to myself, 'This is what it's like to sleep all night? This is wonderful!' I felt like a million dollars. I felt like Superman.  Ever since, I've used the CPAP air machine every night when I go to bed, and it’s improved my health. It's also made my life less stressful, because I'm more rested. I bought another CPAP air machine, and I keep that up at my hotel at my away-from-home terminal. Our job, our safety, depends on how rested we are."
				quote_author="Mark Kramer, locomotive engineer"
			/>
		</div>
		<hr
			class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
		/>

		<div
			class="container mx-auto px-6 md:max-w-4xl prose lg:prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg"
		>

			<section class="container mx-auto my-4 md:max-4xl lg:max-w-5xl show-toast-on-scroll">
				<h2 class="font-semibold text-center py-4" id="what-is-osa">
					What is OSA?
				</h2>
				<div class="container mx-auto mt-8 lg:mt-12">
					<YouTube
						embed_url={whatIsOsa.frontmatter.video_url}
						title={whatIsOsa.frontmatter.video_title}
						duration={whatIsOsa.frontmatter.video_duration}
					/>
				</div>
				<WhatIsOsaContent />
			</section>
			<hr
				class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
			/>
			<section class="container mx-auto my-4 md:max-4xl lg:max-w-5xl">
				<h2 class="font-semibold text-center py-4" id="getting-a-diagnosis">
					Getting a diagnosis
				</h2>
				<div class="container mx-auto mt-8 lg:mt-12">
					<YouTube
						embed_url={gettingADiagnosis.frontmatter.video_url}
						title={gettingADiagnosis.frontmatter.video_title}
						duration={gettingADiagnosis.frontmatter.video_duration}
					/>
				</div>
				<GettingADiagnosisContent />
				<Quote
					quote="A guy that I worked with came in with a line on his face, and we started talking about that. He told me about his mask, and we started talking about snoring and everything else, and I thought wow, you know, I think I have it. And then I went in for a sleep study. I’ve been on the CPAP machine since 2000. If I don’t use my machine, my sleep is terrible. I have a machine at home, and another that I leave at my away-from-home terminal."
					quote_author="Jack, locomotive engineer and brakeman"
				/>
			</section>
			<hr
				class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
			/>
			<section class="container mx-auto my-4 md:max-4xl lg:max-w-5xl">
				<h2 class="font-semibold text-center py-4" id="living-with-osa">
					Living with OSA
				</h2>
				<div class="container mx-auto mt-8 lg:mt-12">
					<YouTube
						embed_url={livingWithOsa.frontmatter.video_url}
						title={livingWithOsa.frontmatter.video_title}
						duration={livingWithOsa.frontmatter.video_duration}
					/>
				</div>
				<LivingWithOsaContent />
			</section>
			<hr
				class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
			/>
			<section class="container mx-auto my-4 md:max-4xl lg:max-w-5xl">
				<h2 class="font-semibold text-center py-4" id="available-treatments">
					Available Treatments
				</h2>
				<div class="container mx-auto mt-8 lg:mt-12">
					<YouTube
						embed_url={availableTreatments.frontmatter.video_url}
						title={availableTreatments.frontmatter.video_title}
						duration={availableTreatments.frontmatter.video_duration}
					/>
				</div>
				<AvailableTreatmentsContent />
			</section>
		</div>
	</article>

	<script></script>
</Layout>

<script>
	const callback = function (entries) {
		entries.forEach((entry) => {
      if (entry.isIntersecting) {
        document.getElementById('apnea-toast').classList.remove("hidden");
      } else {
        document.getElementById('apnea-toast').classList.add("hidden");
      }
		});
	};

	const observer = new IntersectionObserver(callback);

	const targets = document.querySelectorAll(".show-toast-on-scroll");
	targets.forEach(function (target) {
		observer.observe(target);
	});
</script>
