---
import { Picture } from "@astrojs/image/components";
import { findImage } from "~/utils/images";
import {Icon} from "astro-icon";

const { post } = Astro.props;

const image = await findImage(post.image);
---
<div class="card xl:w-full h-48 lg:h-64 grid grid-cols-2 grid-rows-1 gap-2 md:gap-4 bg-base-200 dark:bg rounded-xl shadow-xl animate-in slide-in-from-bottom duration-500 hover:shadow-xl hover:scale-115 transform hover:translate-y-1 hover:translate-x-1 hover:z-10">
  <label for={post.slug} class="relative cursor-pointer">

    <div class="overflow-hidden">
      {
        image && !post.video_url && (
          <Picture
            src={image}
            class="absolute inset-0 object-cover object-center h-full mb-6 rounded-l-xl"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            aspectRatio={post.image_aspect_ratio || null}
            alt={post.title}
          />
        )
      }
      {
        post.video_url && (
          <div class=" mb-6 rounded h-full w-full">
            <div class="aspect-w-16 aspect-h-9">
              <iframe
                class="absolute w-full h-full"
                src={post.video_url}
                allow="fullscreen https://player.vimeo.com; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              />
            </div>
          </div>
        )
      }
    </div>
  </label>
  <div class="p-2 lg:p-4">
    <label for={post.slug} class="cursor-pointer">
    <header>
      <h2 class="text-lg sm:text-xl font-bold leading-snug mb-2 font-heading">
        {post.title}
      </h2>
    </header>
    {
      !post.video_title && !post.video_description && (
        <p class="text-md flex-grow">{post.excerpt || post.description.substring(0, 120)}...</p>
      )
    }
    {post.video_description && <p class="text-md flex-grow">{post.description.substring(0, 120)}...</p>}
    <footer class="mt-2">
      <div>
        <span class="text-sm text-opacity-70">
          ~ {Math.ceil(post.readingTime)} min read
        </span>
      </div>
    </footer>
  </label>
  </div>
</div>
